---
# File: vagrant_site.yml.example - Vagrant based Meatspace Chat v2 playbook

- name: Meatspace Chat v2 activate!
  hosts: meatspace_chat
  sudo: True
  gather_facts: False
  roles:
  - { role: brianshumate.meatspace_chat }
